.DS_Store*
ehThumbs.db
Icon?
Thumbs.db
Desktop.lnk
*.amx
*.lst
*.asm
server_log.txt
*.log
main.pwn
/samp-license.txt
/server-readme.txt
/samp-server.exe
/samp-npc.exe
/announce.exe
/compiler/bin/pawnc.dll
/compiler/bin/pawncc.exe
/include/a_http.inc
/include/a_npc.inc
/include/a_objects.inc
/include/a_players.inc
/include/a_samp.inc
/include/a_sampdb.inc
/include/a_vehicles.inc
/include/core.inc
/include/datagram.inc
/include/file.inc
/include/float.inc
/include/string.inc
/include/time.inc